#### Functions

add_numbers is a function that takes two numbers and adds them together

In [1]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

add_numbers updated to take an optional 3rd parameter. Using print allows printing of multiple expressions within a single cell.

In [4]:
def add_numbers(x, y, z = None):
    if z == None:
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

add_numbers updated to take an optional flag parameter.

In [6]:
def add_numbers(x, y, z = None, flag = False):
    if flag:
        print('Flag is True')
    if z == None:
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag = True))

Flag is True
3

Assign function add_numebers to variable a

In [8]:
def add_numbers(x, y):
    return x + y

a = add_numbers
a(1, 2)

3

#### Types and Sequences

Use type to return the object's type

In [9]:
type('This is a string')

str

In [10]:
type(None)

NoneType

In [11]:
type(1)

int

In [12]:
type(1.0)

float

In [13]:
type(add_numbers)

function

Tuples are an immutable data structure (cannot be altered)

In [14]:
x = (1, 'a', 2, 'b')
type(x)

tuple

Lists are a mutable data structure.

In [15]:
x = [1, 'a', 2, 'b']
type(x)

list

Use append to append an object to a list

In [16]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

This is an example of how to loop through each item in the list

In [17]:
for item in x:
    print(item)

1
a
2
b
3.3

Or using the indexing operator:

In [18]:
i = 0
while(i != len(x)):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

Use + to concatenate lists

In [19]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

Use * to repeat lists

In [20]:
[1] * 3

[1, 1, 1]

Use in operator to check if something is inside a list

In [21]:
1 in [1, 2, 3]

True

Now let's look at strings. Use bracket notation to slice a string

In [22]:
x = 'This is a string'
print(x[0])
print(x[0:1])
print(x[0:2])

T
T
Th

This will return the last element of the string

In [23]:
x[-1]

'g'

This will return the slice starting from the 4th element from the end and stopping before the second element from the end

In [25]:
x[-4:-2]

'ri'

This is a slice from the beginning of the string and stopping before the 3rd element

In [26]:
x[:3]

'Thi'

This is a slice starting from the 4th element of the string and going all the way to the end

In [27]:
x[3:]

's is a string'

In [28]:
firstname = 'Siddharth'
lastname = 'Chaudhary'

print(firstname + ' ' + lastname)
print(firstname * 3)
print('Sid' in firstname)

Siddharth Chaudhary
SiddharthSiddharthSiddharth
True

split returns a list of all the words in a string, or a list split on a specific character

In [29]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0]
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1]

print(firstname)
print(lastname)

Christopher
Brooks

Make sure you convert objects to strings before concatenating

In [30]:
'Chris' + str(2)

'Chris2'

Dictionary associate keys with values

In [31]:
x = {'Christopher Brooks' : 'brooksch@umich.edu', 'Bill Gates' : 'billg@microsoft.com'}
x['Christopher Brooks']

'brooksch@umich.edu'

In [32]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

Iterate over all the keys

In [33]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
None

Iterate over all the values

In [34]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
None

Iterate over all of the items in the list:

In [36]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com
Kevyn Collins-Thompson
None

You can unpack a sequence into different variables

In [37]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [38]:
fname

'Christopher'

In [39]:
lname

'Brooks'

Make sure the number of values you are unpacking matches the number of variables being assigned

In [40]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')
fname, lname, email = x

ValueError: too many values to unpack (expected 3)

#### More on Strings

In [41]:
print('Chris' + 2)

TypeError: can only concatenate str (not "int") to str

In [42]:
print('Chris' + str(2))

Chris2

Python has a built in method for convenient string formatting

In [44]:
sales_record = {
    'price' : 3.24,
    'num_items' : 4,
    'person' : 'Chris'
}

sales_statement = '{} bought {} items(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items'] * sales_record['price']))

Chris bought 4 items(s) at a price of 3.24 each for a total of 12.96

#### Reading and Writing CSV files

Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars

- mpg : miles per gallon
- class : car classification
- cty : city mpg
- cyl : # of cylinders
- displ : engine displacement in liters
- drv : f = front-wheel drive, r = rear-wheel drive, 4 = 4wd
- fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
- hwy : highway mpg
- manufacturer : automobile manufacturer
- model : model of car
- trans : type of transmission
- year : model year

In [45]:
import csv

%precision 2

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3]

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '3',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '2',
  'year': '2008',
  'cyl': '4',
  'trans': 'manual(m6)',
  'drv': 'f',
  'cty': '20',
  'hwy': '31',
  'fl': 'p',
  'class': 'compact'}]